
.title {
    text-align: left;
    font-weight: bold;
    font-family: 'Gowun Batang', serif;
    margin: 0;
    padding-left: 20px;
    letter-spacing: 5;
}

h1{
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 5;
}
/* contents */
    .image{ 
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        padding: 0 px;
    }
    .wrapper{
        max-width: 1200px;
        position: relative;
    }
    .wrapper i{
        top: 50%;
        height: 45px;
        width: 45px;
        font-size: 1.2rem;
        cursor: pointer;
        position: absolute;
        text-align: center;
        line-height: 45px;
        background: #fff;
        border-radius: 50%;
        transform: translateY(-50%);
    }
    .wrapper i:first-child{
        left: -23px;
    }
    .wrapper i:last-child{
        right: -23px;
    }
    .wrapper .carousel{
        white-space: nowrap; 
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        scroll-behavior: smooth;
    }
    .carousel .dragging{
        cursor: grab;
        scroll-behavior: auto;
    }
    .carousel .dragging img{
        pointer-events: none;
    } 
    .carousel img{
        height: 450px;
        object-fit: cover;
        margin-left: 14px;
        width: calc(100%/3);
    }
    .carousel img:first-child{
        margin-left:0px ;
    }
    @media screen and (max-width: 900px) {
        .carousel img{
            width: calc(100%/2);
        }     
    }
    @media screen and (max-width: 550px) {
        .carousel img{
            width: 100%;
        }    
    }
    
   