
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Pacifico&display=swap');

.body {
    background-color: white;
    font-family: 'Gowun Batang',serif;

}
/* 표지 */
.index{
    background-color: #19311d;
    padding-top: 50px;
    
}
.index::after{ 
    clear: both; display: block; content: '' 
}
/* 표지에서 용한 주은 그리드*/
.index1 { 
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    width: 100%;
}
/* 용한 주은 텍스트 */
.item-1 {
    padding-top: 40px;
    font-size: xx-large;
    margin: 0;
    font-family: 'Gowun Batang',serif;
    text-align: center; 
    padding-bottom: 0;
    color: #FFF3D4;
     /* 애니메이션을 적용할 요소의 초기 상태 설정 */
     opacity: 0; /* 초기에는 투명하게 설정 */
     animation: fadeIn 2s ease-in-out forwards; /* 애니메이션 적용 */
}
.item-2 {
    padding-bottom: 0;
    font-size: xx-large;
    margin: 0;
    font-family: 'Gowun Batang',serif;
    text-align: center; 
    color: #FFF3D4;
     /* 애니메이션을 적용할 요소의 초기 상태 설정 */
     opacity: 0; /* 초기에는 투명하게 설정 */
     animation: fadeIn 2s ease-in-out forwards; /* 애니메이션 적용 */
}
.item-3 {
    padding-bottom: 40px;
    font-size: xx-large;
    margin: 0;
    font-family: 'Gowun Batang',serif;
    text-align: center; 
    color: #FFF3D4;
     /* 애니메이션을 적용할 요소의 초기 상태 설정 */
     opacity: 0; /* 초기에는 투명하게 설정 */
     animation: fadeIn 2s ease-in-out forwards; /* 애니메이션 적용 */
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.index4 {
    display: block;
    padding-bottom: 40px;
    font-size: 80px;
    margin-top: 190px;
    font-family: "Whisper", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: right; 
    color:#233626;
     /* 텍스트 스타일 */
        position: absolute;
        top: 50%;
        left: 56%;
        transform: translate(-50%, -50%);
        white-space: nowrap; /* 텍스트가 한 줄로 유지되도록 */
        /* 텍스트 애니메이션 적용 */
        animation: moveText 5s linear forwards;
    animation-fill-mode: forwards; /* 애니메이션이 종료된 후 최종 상태로 유지 */}
    
    /* 텍스트 애니메이션 정의 */
    @keyframes moveText {
        0% { left: 30%;
        top:450px }
        80% { left: calc(100% - 180px); 
            top:450px}
    }

    

h4{ font-family: 'Gowun Batang',serif;
    text-align: center; 
    color: #FFF3D4;
    /* 애니메이션을 적용할 요소의 초기 상태 설정 */
    opacity: 0; /* 초기에는 투명하게 설정 */
    animation: fadeIn 3s ease-in-out forwards; /* 애니메이션 적용 */

}
/* 표지에서 장소, 시간, 저희 결혼합니다 부분 텍스트 */
.index2{ 
    font-family: 'Gowun Batang',serif;
    text-align: center; 
    padding-bottom: 30px;
    color: #FFF3D4;
    font-size: large;
}
/* 표지 사진 */
#box2 { 
    text-align: center;
   
}
#box2 img {
    border-top-right-radius: 45%;
    border-top-left-radius: 45%;
    width: 300px;
    border:#FFF3D4 solid;
    padding: 3px;
}

/* 표지에서 저희 결혼합니다 */
.index3 {
    font-family: 'Gowun Batang',serif;
    text-align: center; 
    padding-bottom: 40px;
    color: #FFF3D4;
    font-size: medium;
    
}

.head-title{
    background-color: white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the bottom of the page */
    width: 100%; 
    display: grid;
    grid-template-columns: 2fr 0.5fr 0.5fr;
    padding-top: 50pt;
    z-index: 1000
    
   
}
.head-home .head-share{
    font-size: 5%;   
    text-align: right;
}

/* 인삿말 */
.invite{
    text-align: center;
    word-break:keep-all;
    padding-top: 100px;
    background-color: #fff9d6;
    height: 600px;
    font-family: 'Gowun Batang',serif;
}
.invite-title{
   font-size: xxx-large;
   color: #233626;
   font-family: "Whisper", cursive;
   font-weight: 300;
}
.invite-content{
    margin-top: 28px;
}
.body2{
    font-family: 'Gowun Batang', serif;
}


.name-1 {
    clear: both;
}

.name-1{
    text-align: center;
    display: grid;
    grid-template-columns: 1.2fr 0.5fr 1fr;
    padding-left: 70px;
    padding-right: 50px;
    padding-top: 50px;
}
.name-2{
    text-align:center;
    display: grid;
    grid-template-columns: 1.2fr 0.5fr 1fr;
    padding-left: 70px;
    padding-right: 50px;
  
}
.name1 {
    font-size: medium;
    float: center;
}
.name2 {
    font-size: small;
    float: left;
    text-align: left;
    padding-top: 5px;
}
/* 이미지 그리드 스타일 */
.photo {
    background-color: #19311d;
    padding-top: 40px; /* 필요에 따라 조절 가능 */
    padding-bottom: 100px; /* 필요에 따라 조절 가능 */
    
}

.photo-title {
    color: #FFF3D4;
    font-family: 'Gowun Batang',serif;
    font-size: 18px; /* 필요에 따라 조절 가능 */
    text-align: center;
    font-weight: 400;
    margin-bottom: 20px; /* 필요에 따라 조절 가능 */
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 그리드 아이템 3열 */
    grid-gap: 5px; /* 그리드 아이템 사이의 간격 지정 */
    margin: 0 auto; /* 가운데 정렬을 위해 margin을 자동으로 설정 */
    padding-left: 10px;
    padding-right: 10px;
}

.item-photo {
    position: relative; /* 포지션을 설정하여 이미지가 겹치는 현상 방지 */
    overflow: hidden; /* 이미지가 그리드 아이템을 넘어갈 경우를 방지 */
    width: 100%;
    padding-top: 133%; /* 1:1 비율을 위한 높이 설정 */
    
}

.item-photo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 이미지를 화면의 중앙으로 이동 */
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    object-fit:cover;  /*네모 안에 이미지 안깨지게 넣기*/
    
}
/* CSS */
/* 사진을 감싸는 컨테이너 */
.container {
    position: relative;
    overflow: hidden; /* 이미지를 감싸고 있는 컨테이너의 영역을 넘어가는 이미지를 숨김 */
}



/* 이미지 확대 시 */
.item-photo.enlarge {
    position: absolute; /* 절대 위치로 이동하여 다른 이미지와 겹치지 않게 함 */
    top: 70%; /* 상단 여백을 조절하여 이미지가 화면 상단에 정확히 위치하도록 함 */
    left: 50%; /* 왼쪽 여백을 조절하여 이미지가 화면 가운데에 정확히 위치하도록 함 */
    transform: translate(-50%, -50%) scale(1.2); /* 이미지를 확대하고, 화면 중앙으로 이동시킴 */
}

/* 화살표 스타일 */
.prev-arrow
.next-arrow {
    position: absolute;
    top: 50%; /* 컨테이너의 세로 중앙에 화살표를 배치 */
    transform: translateY(-50%);
    font-size: 24px; /* 화살표 아이콘 크기 설정 */
    cursor: pointer; /* 클릭 가능한 커서로 변경 */
    color: grey;
}

.prev-arrow {
    left: 0; /* 왼쪽에 위치 */
}

.next-arrow {
    right: 0; /* 오른쪽에 위치 */
}

/* javascript 이미지 클릭 */
.enlarge {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%; /* 전체 뷰포트 높이로 설정 */
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .enlarge img {
    max-width: 70vw;
    max-height:auto;
  }
  
  .enlarge .item-photo {
    overflow-x: auto; /* 이미지가 크게 보였을 때 좌우로 넘길 수 있도록 설정 */
}
.line2 {
    margin-top: 8px;
    border: 0;
}
.line3 {
    color: #949494;
    border: 0;
}
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
.map-img {
    height: auto;
    text-align: center;
    padding-left: 10px;
    margin-left: 20px;
    margin-right: 20px;
 }
 .location {
    background-color: white;
    font-family: 'Gowun Batang',serif;
    margin: 20pt;
    padding-top: 40px;
    padding-bottom: 40px;
    word-break:keep-all;
 }

 .location-title {
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
 }
 .location-2 {
    padding: 5px;
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
 }

 #copy-location {
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color:unset;
    font-family: 'Gowun Batang', serif;
    font-size: medium;
 }

 .detail-2 {
    color: #888;
    font-size: small;
 }
 .copy-button {
    padding: 0;
 }

 .phone {
    text-align: left;
    margin: 0;
    color:#888;
    font-size: 1rem;
    border: 1px;
    border-top: 1px black;
 }
.phone a {
    color:#888;
    text-decoration-line: none;
    font-size: medium;
}
.line4 {
    background-color: #ffeb9d; /* hr은 background color, height*/
    height: 5px;
    border: 0px;
    margin-bottom: 10px;

}
 .send{
    background-color: #FFF3D4;
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: 'Gowun Batang', serif;
    width: auto;
    padding-inline: 1px grey;
    margin: 0px;
    text-align: center;
 } 
 .send_title {
    margin: 20pt;
    margin-top: 30pt;
    word-break:keep-all;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
 }
#man {
    margin: 20pt;
    text-align: center;
    word-break:keep-all;
    font-family: 'Gowun Batang',serif;
 }
 #woman {
    margin: 20pt;
    word-break:keep-all;
    font-family: 'Gowun Batang',serif;
 }
 .modalTitle {
    font-weight: 800;
 }
 .button {
    align-items: center;
    background-color: #19311d; /* 초록색 배경 */
    border: none; /* 테두리 없음 */
    color: white; /* 흰색 텍스트 */
    padding: 15px 32px; /* 내부 여백 */
    text-align: center; /* 가운데 정렬 */
    text-decoration: none; /* 텍스트에 밑줄 없음 */
    display: inline-block; /* 인라인 요소로 표시 */
    font-size: 16px; /* 폰트 크기 */
    margin: 4px 2px; /* 마진 */
    cursor: pointer; /* 커서 모양 변경 */
    border-radius: 12px; /* 버튼 모서리 둥글게 */
    transition-duration: 0.4s; /* 변환 효과 지속 시간 */
}
.button1 {
    text-align: left;
    margin: 0;
    font-size: 1rem;
    border: none;
    background-color: none;
    font-family: 'Gowun Batang', serif;
    margin-top: 10px;
 }
.button1 a {
    text-decoration-line: none;
    font-size: medium;
}

#myModal {
    text-align: left;
}
#myModal2 {
    text-align: left;
}
.button:hover {
    background-color: #45a049; /* 마우스 오버 시 배경색 변경 */
    color: white; /* 흰색 텍스트 */
}
  /* 모달 스타일 */
  .modal {
    display: none; /* 기본적으로 모달은 숨김 처리 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
   
  }

.modal-content {
    background-color: #fefefe;
    margin: auto; /* 수직 및 수평 중앙 정렬 */
   
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* 모달 스타일 */
.modal2 {
    display: none; /* 기본적으로 모달은 숨김 처리 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
  }

.modal-content2 {
    background-color: #fefefe;
    margin: auto; /* 수직 및 수평 중앙 정렬 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* 닫기 버튼 스타일 */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
 .woman {
    margin: 20pt;
    word-break:keep-all;
 }
 .flower{
    font-family: 'Gowun Batang',serif;
    background-color: white;
    margin: 20pt;
    padding-top: 40px;
    padding-bottom: 40px;
    word-break:keep-all;
    outline: #19311d; 
    text-align: center;
 }

 .flower_title {
    font-size: 18px;
    font-weight: 800;
    text-align: center;
 }
 .flower_content { 
    text-align: center;
    margin: 32pt;
 }
 .flower_btn{
    left: 50%;
 }
 .message {
    margin: 20pt;
    margin-bottom: 50pt;
    word-break:keep-all;
 }
 #openModalBtn {
    font-family: 'Gowun Batang',serif;
    align-items: center;
    background-color: #ffeb9d; /* 초록색 배경 */
    border: none; /* 테두리 없음 */
    color: rgb(12, 42, 23); /* 흰색 텍스트 */
    padding: 15px 32px; /* 내부 여백 */
    text-align: center; /* 가운데 정렬 */
    text-decoration: none; /* 텍스트에 밑줄 없음 */
    display: inline-block; /* 인라인 요소로 표시 */
    font-size: 16px; /* 폰트 크기 */
    font-weight: 800;
    margin: 28px; /* 마진 */
    cursor: pointer; /* 커서 모양 변경 */
    border-radius: 12px; /* 버튼 모서리 둥글게 */
    transition-duration: 0.4s; /* 변환 효과 지속 시간 */
 }
 /* 모달 스타일 */
.modal3 {
    display: none; /* 초기에는 숨김 */
    position: fixed; /* 고정 위치 */
    z-index: 1; /* 다른 요소 위에 표시 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 배경색과 투명도 조절 */
  }
  #myModal3 {
    text-align: left;
  }
  .modal-content3 {
    background-color: #fefefe; /* 모달 내용 배경색 */
    margin: 15% auto; /* 모달 내용 위치 조정 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* 모달 너비 조정 */
    font-family: 'Gowun Batang', serif;
    align-items: left;
  }
  .copyright {
    margin-bottom: 100px;
    margin-right: 20px;
    font-family: 'Gowun Batang',serif;
    text-align: right;
    
  }

  .audio {
    align-items: center;
    text-align: center;
  }